# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.venv/

# Flutter
app/.dart_tool/
app/.packages
app/.pub-cache/
app/.pub/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env.local
.env.*.local
